@import "/styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.links {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 61px;
    gap: 125px;

    li a {
      font-size: 19px;
      font-family: "Open Sans", sans-serif;
      color: #4f9bd5;
      text-decoration: none;
    }
  }
}
